<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://csp.nighthawkcodingsociety.com/">{{basename}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
            <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->
            <!-- stub is shown using the name of the route -->
            <a class="nav-link" href="/binary">Binary</a>
            <a class="nav-link" href="/rgbNoah">RGB Values</a>
            <a class="nav-link" href="https://docs.google.com/document/d/1CvHvZOLyqqTMqtluWOw3nmPxj_Qg2qotaP1fSXbHq6o/edit?usp=sharing/">Noah, Tanay, Lucas Journal</a>
            <a class="nav-link" href="https://docs.google.com/document/d/1l3WlycUO6VHKoQe9tjeVpAOlvq5DGxXn6fUGvL4FwNI/edit?usp=sharing/">Aryan Pranav Journal</a>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="/navbarStarters" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    About Us
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/greetNoah">Noah</a>
                    <a class="dropdown-item" href="/greetTanay">Tanay</a>
                    <a class="dropdown-item" href="/greetAryan">Aryan</a>
                    <a class="dropdown-item" href="/greetLucas">Lucas</a>
                    <a class="dropdown-item" href="/greetPranav">Pranav</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarStarters" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    MiniLabs
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/brainWrite">BrainWrite</a>
                    <a class="dropdown-item" href="/wireframes">Wireframe Designs</a>
                    <a class="dropdown-item" href="/sprint">Sprints Per Week</a>
                </div>
            </li>
                </a>

            </li>

            </div>


        </div>

    </div>
    </div>
</nav>

