<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->

<style>
    background-image: linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5)), url("/static/assets/spaceart.jpeg");
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://csp.nighthawkcodingsociety.com/">{{basename}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
            <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->
            <!-- stub is shown using the name of the route -->

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="/navbarStarters" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    About Us
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/greetNoah">Noah</a>
                    <a class="dropdown-item" href="/greetTanay">Tanay</a>
                    <a class="dropdown-item" href="/greetAryan">Aryan</a>
                    <a class="dropdown-item" href="/greetLucas">Lucas</a>
                    <a class="dropdown-item" href="/greetPranav">Pranav</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarStarters" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    MiniLabs
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/wireframes">Wireframe Designs</a>
                    <a class="dropdown-item" href="/rgbNoah">RGB Values</a>
                    <a class="dropdown-item" href="/binary">Binary Math Lab</a>
                    <a class="dropdown-item" href="/Binarycolor">Color Lab</a>
                    <a class="dropdown-item" href="/LogicGate">Logic Gates</a>
                    <a class="dropdown-item" href="/UnsignedSignedAddition">Unsigned Binary Addition</a>
                    <a class="dropdown-item" href="/joke">Random Jokes Generator</a>
                    <a class="dropdown-item" href="/portal">Password Strength Tester</a>
                    <a class="dropdown-item" href="/team">Soccer Team API</a>
                </div>
            </li>
                </a>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarStarters" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sports About
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/sportsinfo">Sports Information (Updated)</a>
                    <a class="dropdown-item" href="/sportsdata">Sports Financial Data</a>
                    <a class="dropdown-item" href="/historypage">Sports History Page</a>
                    <a class="dropdown-item" href="/googleform">Sports Google Form</a>
                </div>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarStarters" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Photo Gallery
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/baseball">Baseball</a>
                    <a class="dropdown-item" href="/basketball">Basketball</a>
                    <a class="dropdown-item" href="/football">Football</a>
                    <a class="dropdown-item" href="/soccer">Socccer</a>
                    <a class="dropdown-item" href="/KobeTribute">Kobe Tribute</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarModel" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tanay Projects
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/athlete/">Athletes</a>
                    <a class="dropdown-item" href="/calculator">Calculator</a>
                    <a class="dropdown-item" href="/photoedit">Photo Manipulation</a>
                    <a class="dropdown-item" href="/searchbar"> Filter Search Bar </a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarModel" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Noah Projects
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/rockpaperscissors">Rock Paper Scissors</a>
                    <a class="dropdown-item" href="/tipcalculator">Tip Calculator</a>
                    <a class="dropdown-item" href="/RandomTeamGenerator">Random Premier League Team Generator</a>

                </div>
            </li>


        </div>

    </div>
    </div>
</nav>

