<!DOCTYPE html>
{% extends "layouts/base.html" %}

{% set project = "Tanay's" %}

{%  block body %}
<body style="background-image: url('/static/assets/SoccerStadium.jpeg'); background-size: 100%">
<div style="color: white; font-family: 'Brush Script MT'; font-size: larger; margin: 2% 10% 0 10%; text-align: center; background-color: rgba(255,0,0,0.5)">

    <div>
        <form action="/Tanay/" id="Tanay" method="POST" >
            <div>
                <label for="name" style="font-family:verdana">Hi, what is your name? </label>
            </div>
            <div style="font-family:verdana">
                <input name="name" id="name">
                <input type="Submit" value="Submit">
            </div>
        </form>
    </div>
    <div style="font-family:verdana">
        Hello, {{ Everyone }}, I hope you are having a wonderful day!
    </div>

    <img src="/static/assets/Tanay.jpeg" style="height: 400px; margin: 10%; border: 7px solid white;" alt="Photo of Tanay">

    <p style="font-family:verdana">
        Hello, my name is Tanay Rayavarapu and I am one of the members of Team Cosmos in AP Computer Science. Outside of school, I am a black belt in Taekwondo and was a part of the Del Norte Swim Team in my freshman and sophomore years. I was born in Oceanside, California, and have lived in 4s Ranch my entire life.
    </p>
    <div>
        </form>
    </div>

    <button onclick="window.location.href='/templates/tanayprojects/Palindromes'">Continue</button>

</body>
{% endblock %}
{% block background %}
{% endblock %}


