
<!DOCTYPE html>
<html lang="en">
<head>
    <style>.p1 {
        font-family: "Brush Script MT", cursive;
    }

    body {
        color: blue;
    }

    body {
        background-color: black;
    }
    </style>
    <title>HTML Elements Reference</title>
</head>
<body>

<h1>About Me</h1>
<p class="p1">Hello, my name is Noah Jeng. I am a junior at Del Norte High School, currently taking AP Computer Science Principles. Some of my interests are playing soccer, video games, traveling. I was born in Oakland, California, and moved to San Diego when I was 3 years old,.  </p>

<img src="https://m.media-amazon.com/images/I/61Jigwd1kKL._AC_SX425_.jpg" alt="Trulli" width="333" height="333">

</body>
</html>


