<!DOCTYPE html>
<html lang="en">
<head>
    <style>.p1 {
        font-family: "Brush Script MT", cursive;
    }

    body {
        color: blue;
    }

    body {
        background-color: yellow;
    }
    </style>
    <title>HTML Elements Reference</title>
</head>
<body>

<h1>About Me</h1>
<p class="p1">Hello, my name is Tanay Rayavarapu and I am one of the members of Team Cosmos in AP Computer Science. Outside of school, I am a black belt in Taekwondo and was a part of the Del Norte Swim Team in my freshman and sophomore years. I was born in Oceanside, California, and have lived in 4s Ranch my entire life.  </p>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSx3xzCu8_TbzVjLHFi1CAKDmWU8ibzsAl8lw&usqp=CAU" alt="Trulli" width="600" height="300">

</body
</html
