<!DOCTYPE html>
{% extends "layouts/base.html" %}

{%  block body %}
<html lang="en">
<head>
    <style>.p1 {
        font-family: "Brush Script MT", cursive;
    }

    body {
        color: blue;
    }

    body {
        background-color: #000000;
    }
    </style>
    <title>HTML Elements Reference</title>
</head>
<body>

<h1>About Me</h1>
<p class="p1">Hello, my name is Noah Jeng. I am a junior at Del Norte High School, currently taking AP Computer Science Principles. Some of my interests are playing soccer, video games, traveling. I was born in Oakland, California, and moved to San Diego when I was 3 years old,.  </p>


<img src="https://i.ytimg.com/vi/YG8Q7lzZ-PI/hqdefault.jpg" alt="Trulli" width="333" height="333">
</body>
</html>

<body style="background-image: url('/static/assets/SoccerBall.jpeg'); background-size: 100%">
<div style="color: white; font-family: 'Brush Script MT'; font-size: larger; margin: 2% 10% 0 10%; text-align: center; background-color: rgba(255,0,0,0.5)">

{% endblock %}
