<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Team Information</title>
</head>
<body>
<h1 style="text-align:center"><p style="font-size:100px">Random Sports Links</h1>
<script>
    var sites = [
        'https://www.nfl.com/',
        'https://www.nba.com/',
        'https://www.mlb.com/',
        'http://www.youtube.com'
    ];

    function randomSite() {
        var i = parseInt(Math.random() * sites.length);
        location.href = sites[i];
    }
</script>
<a href="#" onclick="randomSite();"><p style="text-align:center; font-size:75px">Sites</a>
</body>
</html>
