<!doctype html>

{% extends "layouts/base.html" %}

{%  block body %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Team Information</title>
</head>
<body>
  <div class="wrapper">
    <h1 style="text-align:center"><p style="font-size:80px">Sports Websites</h1>
  </div>

  <body style="background: linear-gradient( #33ccff 0%, #66ff66 100%); height:1200px"></body>

  <script>
      var sites = [
          'https://www.nfl.com/',
          'https://www.nba.com/',
          'https://www.mlb.com/',
          'https://www.mlssoccer.com/',
          'https://www.cricbuzz.com/',
          'https://www.similarweb.com/website/premierleague.com/',
          'https://www.similarweb.com/website/dazn.com/',
          'https://www.nhl.com/',
      ];

      function randomSite() {
          var i = parseInt(Math.random() * sites.length);
          location.href = sites[i];
      }
  </script>
  <a href="#" onclick="randomSite();"><p style="text-align:center; font-size:50px">Click to explore a random sport!</a>

<style>
 * {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Merriweather;
}

.header {
  text-align: center;
  padding: 32px;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.column img {
  margin-top: 0px;
  margin-center:0px;
}

.column {
  float: right;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>

  <!-- Photo Grid -->
  <div class="row">
    <div class="column">
      <h2>Sports Column 2</h2>
      <img src="/static/assets/SportsImages/nfl.jpg" style="width:80%">
      <img src="/static/assets/SportsImages/mlb.jpeg" style="width:80%">
      <img src="/static/assets/SportsImages/mls.jpeg" style="width:80%; height:600px">
    </div>
    <div class="column">
      <h2 style="align-center">Sports Column 1</h2>
        <img src="/static/assets/SportsImages/nba.jpeg" style="width:80%">
        <img src="/static/assets/SportsImages/premleague.jpeg" style="width:80%">
        <img src="/static/assets/SportsImages/dazn.png" style="width:80%; height:475px">

    </div>

</body>
</html>

{% endblock %}
