<!DOCTYPE html>
{% extends "layouts/base.html" %}

{%  block body %}
<html>
<head>
    <style>
        table {
            font-family: trebuchet ms, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid black;
            text-align: center;
            padding: 5px;
        }

        tr:nth-child(even) {
            background-color: #dddddd
        }
    </style>
</head>
<body>

<h1><center>Most Profitable Sports By Average Annual Revenue</center></h1>

<table>
    <tr>
        <th><center><h1>Sports League</h1></center></th>
        <th><center><h1>Average Annual Revenue</h1></center></th>
        <th><center><h1>Median Player Salary</h1></center></th>
        <th><center><h1>Country</h1></center></th>
    </tr>
    <tr>
        <td><h1>National Football League</h1>
            <p><a href="https://www.nfl.com/"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a2/National_Football_League_logo.svg/1200px-National_Football_League_logo.svg.png" alt="Trulli" width="" height="100"></a></p>
        </td>
        <td>$13 Billion</td>
        <td>$860,000</td>
        <td>United States of America</td>
    </tr>
    <tr>
        <td><h1>Major League Baseball</h1>
            <p><a href="https://www.mlb.com"><img src="https://lh3.googleusercontent.com/proxy/btc8q11rd5x7pV3aTmJNvJn_vGpVMpPvXF_67r8QX8ljUpuOXC5P9-b2uNzFUnhm3w0Nw6Vc7IGn1_ethuWjhil43laZSMiR0QV920cErxiaiimrUHIW-0w2KNMGgTFKMVNm2TX1L7WGZGsVrA" alt="Trulli" width="" height="100"></a></p>
        </td>
        <td>$10 Billion</td>
        <td>$1.15 Million</td>
        <td>United States of America</td>
    </tr>
    <tr>
        <td><h1>National Basketball Association</h1>
            <p><a href="https://www.nba.com"><img src="https://cdn.freebiesupply.com/images/large/2x/nba-logo-transparent.png" alt="Trulli" width="" height="100"></a></p>
        </td>
        <td>$7.4 Million</td>
        <td>$3.7 Million</td>
        <td>United States of America</td>
    </tr>
    <tr>
        <td><h1>Indian Premier League (Cricket)</h1>
            <p><a href="https://www.iplt20.com/"><img src="https://i.pinimg.com/originals/a2/20/30/a220301dbfa84edd4ffc6ce9bb528841.png" alt="Trulli" width="" height="100"></a></p>
        </td>
        <td>$6.3 Billion</td>
        <td>$4.3 Million</td>
        <td>India</td>
    </tr>
    <tr>
        <td><h1>English Premier League (Soccer)</h1>
            <p><a href="https://www.premierleague.com/"><img src="https://download.logo.wine/logo/Premier_League/Premier_League-Logo.wine.png" alt="Trulli" width="" height="100"></a></p>
        </td>
        <td>$5.3 Billion</td>
        <td>$3.5 Million</td>
        <td>England</td>
    </tr>
    <tr>
        <td><h1>National Hockey League</h1>
            <p><a href="https://www.nhl.com/"><img src="https://assets.stickpng.com/images/5a4fbb7bda2b4f099b95da15.png" alt="Trulli" width="" height="100"></a></p>
        </td>
        <td>$4.3 Billion</td>
        <td>$2.6 Million</td>
        <td>United States of America and Canada</td>
    </tr>
    <tr>
        <td><h1>Australian Rules Football</h1>
            <p><a href="https://www.afl.com.au/"><img src="https://iconape.com/wp-content/png_logo_vector/australian-football-league-logo.png" alt="Trulli" width="" height="100"></a></p>
        </td>
        <td>$2.5 Billion</td>
        <td>$370,000</td>
        <td>Australia</td>
    </tr>
    <tr>
        <td><h1>La Liga (Soccer)</h1>
            <p><a href="https://www.laliga.com/en-GB"><img src="https://1000logos.net/wp-content/uploads/2018/10/Spanish-La-Liga-logo.png" alt="Trulli" width="" height="100"></a></p>
        </td>
        <td>$2.2 Billion</td>
        <td>$1.6 Million</td>
        <td>Spain</td>
    </tr>
    <tr>
        <td><h1>Serie A (Soccer)</h1>
            <p><a href="https://www.legaseriea.it/en"><img src="https://upload.wikimedia.org/wikipedia/en/6/6c/Serie_A_logo.png" alt="Trulli" width="" height="100"></a></p>
        </td>
        <td>$1.9 Billion</td>
        <td>$1.5 Million</td>
        <td>Italy</td>
    </tr>
    <tr>
        <td><h1>Ligue 1 (Soccer)</h1>
            <p><a href="https://www.ligue1.com/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Ligue1.svg/1200px-Ligue1.svg.png" alt="Trulli" width="" height="100"></a></p>
        </td>
        <td>$1.5 Billion</td>
        <td>$980,000</td>
        <td>France</td>
    </tr>
    <tr>
        <td><h1>Nippon Professional Baseball</h1>
            <p><a href="https://npb.jp/eng/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/NPB_logo.svg/1176px-NPB_logo.svg.png" alt="Trulli" width="" height="100"></a></p>
        </td>
        <td>$1.1 Billion</td>
        <td>$360,000</td>
        <td>Japan</td>
    </tr>
</table>

</body>
</html>
{% endblock %}

