{% extends "layouts/base.html" %}

{% block body %}
    <body style = " background-color: lightgrey;">
    <font color = "black">
        <h1>Signed/Unsigned Addition</h1>
        <p>First bit changes sign</p>

        <br />

        <div class="row">
            <div class="col-sm-1"></div>
            {% for i in range(1, 9) %}
                <button class="col-sm-1" id="o{{i}}" onclick="toggleSwitch('o{{i}}')">0</button>
            {% endfor %}

            <div class="offset-sm-1 col-sm-2">
                <p id="o">Unsigned Decimal value: 0</p>
            </div>
            <div class="offset-sm-1 col-sm-2">
                <p id="x">Signed Decimal value: 0</p>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-sm-1"></div>
            {% for i in range(1, 9) %}
                <button class="col-sm-1" id="t{{i}}" onclick="toggleSwitch('t{{i}}')">0</button>
            {% endfor %}

            <div class="offset-sm-1 col-sm-2">
                <p id="t">Unsigned Decimal value: 0</p>
            </div>
            <div class="offset-sm-1 col-sm-2">
                <p id="y">Signed Decimal value: 0</p>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-sm-1"></div>
            <button class="col-sm-1" id="add" onclick="unsignedAddition('add')">Add</button>

            <div class="offset-sm-8 col-sm-2">
                <p id="addOutput">Added Decimal Value: </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1"></div>
            <button class="col-sm-2" id="signedAddition" onclick="signedAddition('signedAddition')">Toggle signed numbers and signed addition</button>

            <div class="offset-sm-7 col-sm-2">
                <p id="signedOutput">Signed Added Decimal value: </p>
            </div>
        </div>



        <script>
            var first = 0;
            var second = 0;

            function unsignedAddition () {
                added = first + second
                var addedStr = added.toString();
                document.getElementById('addOutput').innerHTML = "Added Decimal value: " + addedStr;
            }

{% endblock %}