<!DOCTYPE html>
{% extends "layouts/base.html" %}

{% block body %}
    <body style = " background-color: darkblue;">
    <font color = "white">
    <h2>Signed and Unsigned Addition Lab</h2>

    <br />

    <div class="row">
        <div class="col-sm-1"></div>
        {% for i in range(1, 9) %}
            <button class="col-sm-1" id="o{{i}}" onclick="toggleSwitch('o{{i}}')">0</button>
        {% endfor %}

        <div class="offset-sm-1 col-sm-1">
            <p id="o">Unsigned Decimal value: 0</p>
        </div>
        <div class="offset-sm-1 col-sm-1">
            <p id="x">Signed Decimal value: 0</p>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-sm-1"></div>
        {% for i in range(1, 9) %}
            <button class="col-sm-1" id="t{{i}}" onclick="toggleSwitch('t{{i}}')">0</button>
        {% endfor %}

        <div class="offset-sm-1 col-sm-2">
            <p id="t">Unsigned Decimal value: 0</p>
        </div>
        <div class="offset-sm-1 col-sm-2">
            <p id="y">Signed Decimal value: 0</p>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-sm-5"></div>
        <button class="col-sm-1" id="add" onclick="unsignedAddition('add')">Add Decimal Value</button>

        <div class="offset-sm-7 col-sm-1">
            <p id="addOutput">Added Decimal Value: </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5"></div>
        <button class="col-sm-1" id="signedAddition" onclick="signedAddition('signedAddition')">Toggle Signed Addition</button>

        <div class="offset-sm-7 col-sm-1">
            <p id="signedOutput">Signed Added Decimal value: </p>
        </div>
    </div>



    <script>
        var first = 0;
        var second = 0;

        function unsignedAddition () {
            added = first + second
            var addedStr = added.toString();
            document.getElementById('addOutput').innerHTML = "Added Decimal value: " + addedStr;
        }

        function signedAddition () {
            var sum1 = 0;
            var sum2 = 0;
            var output = 0;
            const firstBitOne = document.getElementById('o1');
            const firstBitTwo = document.getElementById('t1');
            for (var i = 2; i <= 8; i++) {
                let element1 = document.getElementById('o' + i);
                sum1 += Math.pow(2, 8 - i) * parseInt(element1.innerHTML);
            }
            for (var i = 2; i <= 8; i++) {
                let element2 = document.getElementById('t' + i);
                sum2 += Math.pow(2, 8 - i) * parseInt(element2.innerHTML);
            }
            if (firstBitOne.innerHTML == "1") {
                sum1 = 0-sum1;
            }
            else {
                sum1 = sum1;
            }

            document.getElementById('x').innerHTML = "Value of Signed Decimal: " + sum1;

            if (firstBitTwo.innerHTML == "1") {
                sum2 = 0-sum2;
            }
            else {
                sum2 = sum2;
            }

            document.getElementById('y').innerHTML = "Added Decimal Value for Signed Addition: " + sum2;

            output = sum1 + sum2
            var outputStr = output.toString();
            document.getElementById('signedOutput').innerHTML = "Added Decimal Value for Unsigned Addition: " + outputStr;

        }

        function toggleSwitch (id) {
            const element = document.getElementById(id);
            if (element.innerHTML == "1") {
                element.innerHTML = "0";
            } else {
                element.innerHTML = "1";
            }
            element.classList.toggle("buttonOn");
            element.classList.toggle("buttonOff");

            calculateRow(id.charAt(0));
        }

        function calculateRow (row) {
            let sum = 0;
            for (var i = 1; i <= 8; i++) {
                let element = document.getElementById(row + i);
                sum += Math.pow(2, 8 - i) * parseInt(element.innerHTML);
            }
            document.getElementById(row).innerHTML = "Unsigned Value for Decimal: " + sum;
            switch (row) {
                case 'o':
                    first = sum;
                    break;
                case 't':
                    second = sum;
                    break;
                default:
                    break;
            }

        }



        function reset () {
            for (var i = 1; i <= 8; i++) {
                document.getElementById('o' + i).innerHTML = "0";
                document.getElementById('t' + i).innerHTML = "0";


                calculateRow('o');
                calculateRow('t');

                document.getElementById('o' + i).classList.add("buttonOff");
                document.getElementById('t' + i).classList.add("buttonOff");

                document.getElementById('o' + i).classList.remove("buttonOn");
                document.getElementById('t' + i).classList.remove("buttonOn");

            }
        }

        window.onload = reset();

    </script>

    <style>

        .buttonOff {
            background-color: black;
            color: white;
            font-style: normal;
        }

        .buttonOn {
            background-color: white;
            color: black;
            font-style: italic;
        }

    </style>

{% endblock %}